*, *:after, *:before {
  box-sizing: border-box;
}

.App {
  font-family: helvetica, sans-serif;
  text-align: center;
}

.reveal {
  font-style: italic;
}


button {
  font-size: 1.15em;
  padding: 15px;
  border: 2px solid black;
}


.jokes-row-revealed {
	font-weight: bold;
	font-size: 1.2em;
}

.jokes-row-concealed {
	font-weight: lighter;
}