*, *:after, *:before {
  box-sizing: border-box;
}

.App {
  font-family: helvetica, sans-serif;
  text-align: center;
}

h1 {
  letter-spacing: 2px;
  font-weight: lighter;
  padding: 15px;
}

.Bridge-App {
  font-family: helvetica, sans-serif;
  text-align: center;
}

.about-row {
  font-family: helvetica, sans-serif;
  text-align: center;
}

.reveal {
  font-style: italic;
}

.footer {
  color: gray;
  font-style: light;
  font-size: .75em;
}

button {
  font-family: helvetica, sans-serif;
  font-size: 1.15em;
  padding: 15px;
  border: 2px solid black;
}


.jokes-row-revealed {
	font-weight: bold;
	font-size: 1.2em;
}

.jokes-row-concealed {
	font-weight: lighter;
}

.rainbowbox {
  height: 100px;
  width: 100px;
  padding: 10px 10px;
/*  border: 10px solid pink;*/
  border-radius: 50px;
  box-shadow: 6px 6px 6px black;
}

.rainbowbox:hover {
  background-color: black;
  box-shadow: 6px 6px 6px white;
  top: -10px;
}