*, *:after, *:before {
  box-sizing: border-box;
}

.App {
  font-family: helvetica, sans-serif;
  text-align: center;
  border: 1px solid blue;
}

.Bridge-App {
  font-family: helvetica, sans-serif;
  text-align: center;
  border: 1px solid pink;
}

.about-row {
  font-family: helvetica, sans-serif;
  text-align: center;
  border: 1px solid green;
}

.header-row {
  border: 1px solid purple;
}

.header-row {
  border: 1px solid orange;
}

.reveal {
  font-style: italic;
}


button {
  font-family: helvetica, sans-serif;
  font-size: 1.15em;
  padding: 15px;
  border: 2px solid black;
}


.jokes-row-revealed {
	font-weight: bold;
	font-size: 1.2em;
}

.jokes-row-concealed {
	font-weight: lighter;
}